# front dependencies
/services/frontend/node_modules
/services/frontend/.env

# back dependencies
/services/user-profile/node_modules
/services/game/node_modules
/services/tournament/node_modules
/services/user-stats/node_modules

# docker .env
/infra/.env

# server ssl
/infra/nginx/ssl/*.pem

# db data
services/*/*/data
services/*/data