.winner-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 300px;
	padding: 24px;
	color: var(--color-computer-300);
	background: var(--color-bhologram-low-opa-400);
	border: 4px solid var(--color-computer-400);
	box-shadow: 0px 0px 12px var(--color-computer-vlow-opa-400);
	border-radius: 20px;
}

.winner-card span {
	font-family: var(--font-titles);
	font-size: 2.4em;
	font-weight: var(--font-weight-bold);
	color: var(--color-computer-300);
	text-shadow: 0px 0px 4px var(--color-infos-vlow-opa-100);
}

.winner-card img {
	width: 70%;
	height: auto;
	border-radius: 20px;
	position: relative;
	justify-content: center;
}

.Hide {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 280px;
	height: calc(100% + 8px);
	margin: -4px 0 0 -4px;
	background-color: var(--color-computer-600);
	background: var(--color-computer-600);
	opacity: 1;
	box-sizing: border-box;
	overflow: hidden;
}
