/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap'); */

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/Orbitron-Black.woff2') format('woff2');
}

:root {
	/* CURSOR */
	--cursor-pistol-hover: url('../assets/cursor/rick-pistol-target.png');
	--cursor-pistol-active: url('../assets/cursor/rick-pistol-blast.png');

	/* SIZES */
	--width-desk-screen: 98dvw;
	--height-desk-screen: 90dvh;
	--width-mobile-screen: 100dvw;
	--height-mobile-screen: 100dvh;
	--height-input: 71.2px;
	--width-input: 440px;
	--width-button: 72px;
	--height-button: 72px;
	--width-screenbar: 50%;
	--width-sidebar-user: calc(320px + 5%);
	--width-user-avatar: 72px;
	--width-profile-data-extra: 33.33%;

	/* SPACES */
	--margin-label: .75em;
	--margin-input: 1.5em;
	--margin-submit: .5em;
	--padding-input: .96em;
	--position-form-btns: 2.5em;

	/* RADIUS */
	--radius-screenbar-corner: .5em;

	/* FONTS */
	--font-titles: "Orbitron", sans-serif;
	--font-text: "Inter", sans-serif;
	--font-size-span: .75em;
	--font-size-text: .75em;
	--font-size-input: 1.25em;
	--font-size-profile-card-header: 1.5em;
	--font-size-button: 2em;
	--font-size-totals: 3em;
	--font-size-result: 7em;
	--font-weight-regular: 400;
	--font-weight-bold: 600;
	--font-weight-black: 900;
	--font-synthesis: none;
	--line-height: 1em;
	--text-rendering: optimizeLegibility;

	/* COLORS */
	/* RED - WARNING */
	--color-warning-300: rgb(228, 79, 74);
	--color-warning-400: rgb(178, 53, 33);
	--color-warning-600: rgb(89, 0, 1);
	--color-warning-low-opa-300: rgba(228, 79, 74, .75);
	--color-warning-low-opa-600: rgba(89, 0, 1, .75);
	/* GREEN - HOLOGRAM */
	--color-hologram-400: rgb(128, 255, 0);
	--color-hologram-600: rgb(42, 99, 28);
	--color-hologram-low-opa-400: rgba(128, 255, 0, .5);
	--color-hologram-low-opa-600: rgba(42, 99, 28, .75);
	/* YELLOW - INFOS */
	--color-infos-100: rgb(242, 254, 218);
	--color-infos-200: rgb(243, 245, 143);
	--color-infos-600: rgb(162, 163, 49);
	--color-infos-vlow-opa-100: rgba(242, 254, 218, 0.25);
	--color-infos-low-opa-100: rgba(242, 254, 218, 0.5);
	--color-infos-low-opa-600: rgba(162, 163, 49, 0.5);
	/* GREY - NEUTRAL */
	--color-neutral-200: rgb(228, 228, 228);
	--color-neutral-900: rgb(20, 20, 20);
	/* BLUE - COMPUTER */
	--color-computer-300: rgb(135, 254, 254);
	--color-computer-400: rgb(0, 255, 247);
	--color-computer-500: rgb(0, 148, 143);
	--color-computer-600: rgb(33, 66, 65);
	--color-computer-800: rgb(12, 35, 45);
	--color-computer-vlow-opa-300: rgba(135, 254, 254, .5);
	--color-computer-vlow-opa-400: rgba(0, 255, 247, .5);
	--color-computer-low-opa-400: rgba(0, 255, 247, .75);
	--color-computer-low-opa-600: rgba(33, 66, 65, .75);
	/* BLUE - HOLOGRAM */	
	--color-bhologram-400: rgb(0, 122, 255);
	--color-bhologram-vlow-opa-400: rgba(0, 166, 255, 0.5);
	--color-bhologram-low-opa-400: rgba(0, 166, 255, 0.75);

	/* WEBKITS */
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: var(--cursor-pistol-hover) 8 8, auto;
}

*:active {
	cursor: var(--cursor-pistol-active), pointer;
}

body {
	margin: 0;
	font-family: var(--font-text);
	background: var(--color-computer-600);
	/* overflow: hidden; */
}

h2, h3 {
	font-family: var(--font-titles);
	font-weight: var(--font-weight-black);
    color: var(--color-computer-300);
    text-shadow: 0px 0px 4px var(--color-infos-vlow-opa-100);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--margin-label);
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-black);
	color: var(--color-infos-200);
}

input {
	width: 100%;
	margin-bottom: var(--margin-input);
	padding: var(--padding-input);
	font-family: var(--font-titles);
	font-size: var(--font-size-input);
	font-weight: var(--font-weight-bold);
	text-shadow: 0px 0px 4px var(--color-infos-low-opa-100);
	color: var(--color-infos-100);
	background: var(--color-hologram-low-opa-600);
	box-shadow: 0px 0px 16px var(--color-hologram-low-opa-400);
	border: solid 4px var(--color-hologram-400);
	border-radius: 8px;
}

input:focus {
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

span {
	font-size: var(--font-size-span);
	font-weight: var(--font-weight-black);
	color: var(--color-infos-200);
}