.AddFriendPannel {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 24px;
	width: 100%;
	height: 80%;
	overflow: hidden;
}

.profile-friend-request-can-send {
	position: relative;
	color: var(--color-computer-300);
	font-weight: var(--font-weight-bold);
	overflow: auto;

}

.profile-friend-request-can-send,
.profile-friend-request-receive {
	width: 45%;
	overflow-y: auto;
	height: 70%;
	padding-right: 6px;
	max-height: 80%;
	min-height: 0;
}

.contact-card {
	position: relative;
	display: flex;
	align-items: center;
	margin: 12px 0 12px 0;
	border-radius: 20px;
	color: var(--color-computer-300);
	background: var(--color-bhologram-low-opa-500);
	box-shadow: 0px 0px 12px var(--color-computer-vlow-opa-500);
	overflow: hidden;
	transition: 180ms ease,
				box-shadow 180ms ease,
				background-color 180ms ease,
				transform 180ms ease;
}

.contact-card:hover {
	border-radius: 28px;
	background: var(--color-bhologram-low-opa-300, var(--color-warning-low-opa-3=400));
	box-shadow: 0 0 12px var(--color-bhologram-low-opa-400);
	transform: translateY(-2px);
}

.contact-card::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	pointer-events: none;
	opacity: 0;
	transition: opacity 180ms ease;
	box-shadow: inset 0 0 24px var(--color-computer-vlow-opa-400);
}

.contact-card:hover::after {
	opacity: 1;
}

.profile-card-avatar {
	width: var(--width-user-avatar);
	border-radius: 10px;
	transition: border-radius 180ms ease,
				box-shadow 180ms ease,
				transform 180ms ease;
}

.contact-card:hover .profile-card-avatar{
	border-radius: 18px;
	box-shadow: 0 0 8px var(--color-computer-vlow-opa-400);
	transform: translateY(-2px);
}

.profile-card-data-header span:nth-child(2) {
    margin-left: 4px;
	white-space: nowrap;
}

.online {
    background: var(--color-hologram-400);
    box-shadow: 0 0 8px var(--color-hologram-low-opa-400);
}

.offline {
    background: var(--color-warning-300);
    box-shadow: 0 0 4px var(--color-warning-low-opa-300);
}