.friendlist-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 88px;
	margin-bottom: 16px;
	padding: 4px;
	font-family: var(--font-titles);
	font-size: var(--font-size-input);
	font-weight: var(--font-weight-bold);
	color: var(--color-computer-300);
	background: var(--color-bhologram-low-opa-400);
	border: 4px solid var(--color-computer-400);
	box-shadow: 0px 0px 12px var(--color-computer-vlow-opa-400);
	border-radius: 20px;
}
