.stats-bar {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15%;
	height: 400px;
	padding: 2px;
}

.stats-bar-frame {
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 100%;
	height: 100%;
	margin-bottom: 16px;
	padding: 0px;
	background: var(--color-bhologram-low-opa-400);
	border: 4px solid var(--color-computer-300);
	box-shadow: 0px 0px 12px var(--color-computer-vlow-opa-400);
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	transition: trasform 180ms ease;
}

.stats-bar-fill {
	position: absolute;
	width: 100%;
	height: var(--fill, 60%);
	bottom: 0;
	background: var(--color-computer-300);
	margin: 0;
	border: none;
	border-radius: 0 0 20px 20px;
	transition: trasform 180ms ease,
				background-color 180ms ease;
}

.stats-bar-frame:hover .stats-bar-fill {
	background-color: var(--color-computer-400);
}

.stats-bar-frame:hover {
	transform: translateY(-2px);
}

.stats-bar img {
	width: 48px;
	height: 52px;
}